$cream: #fcfae3;

.__item {
  margin: 2rem 1.5rem;
  padding-top: 50px;
}

.__title {
  color: $cream;
  display: inline-block;
  margin-left: 200px;
  margin-top: 20px;
}

.profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 20px;
}

.menu {
  margin-right: 200px;
}
