$size: 4rem;
$border-width: 0.5rem;
$radius: 1rem;
$transition: 0.3s;

$bg: #f6f3e4;
$green: #4bc35f;
$red: #c15044;

.circle {
  .up {
    border-radius: $size $size 0 0;
  }
  .down {
    border-radius: 0 0 $size $size;
  }
  .count {
    border-radius: 50%;
  }
}

.vote {
  display: flex;
  flex-direction: column;
  position: relative;
  width: $size;
  height: $size;
  margin: 1rem;
}

.increment {
  flex: 1 0 0;
  text-align: center;
  opacity: 0.5;
  transition: $transition;
  cursor: pointer;

  &.up {
    background: $green;
    height: 50%;
    margin-bottom: $border-width/2;
  }
  &.down {
    background: $red;
    height: 50%;
  }

  &:hover {
    opacity: 1;
  }
}

.count {
  position: absolute;
  top: 0;
  border-radius: $radius * 0.1;
  margin: $size * 0.25;
  background: $bg;
  width: $size * 0.5;
  font-size: $size * 0.25;
  font-weight: bold;
  line-height: $size * 0.5;
  text-align: center;
  box-shadow: 0 0 0 $border-width $bg;
  pointer-events: none;

  &.upvoted {
    color: $green;
  }
  &.downvoted {
    color: $red;
  }
}

.bump {
  animation: bump 200ms;
}

@keyframes bump {
  30% {
    transform: scale(1.2);
  }
}
